body {
  font-family: system-ui;
  background-color: #FBF4D5;
  color: black;
  text-align: center;
}

.orange{
  max-width: 700px;
  border-radius: 5px;
  border-color: black;
  border-width: 1px;
  align: center;
  margin: 1.5em auto;
  background: #e88138;
  padding: 1em;
  box-shadow: 3px 4px;
}

.yellow {
  max-width: 700px;
  border-radius: 5px;
  border-color: black;
  border-width: 1px;
  align: center; 
  margin: 1.5em auto;
  background: #e8c238;
  padding: 1em;
  box-shadow: 3px 4px;
  font-size: 20px;
}

.book{
  display: inline-grid;
  padding: 10px 20px;
  font-size: 20px;
   padding: 1em;
  grid-column-gap: 500px;
  border-radius: 5px;
  border-color: black;
  background-color: #c2c86f;
  box-shadow: 3px 4px;
  margin: 1.5em;
  max-width: 700px;
}
.photo {
background: #e88138;
Padding: .5em;

Cell-padding: 10px;
Margin: 0.5em;
box-shadow: 3px 4px;
}
.left {
    float: left;
    margin-right: 1.5em;
}
img {
  align: center;
  margin-top: 5px;
  cell-padding: 10px;
  Margin: 1em;
}
.bio-text{
Padding: 1em;
Text-align: justify;